<h2 mat-dialog-title>{{ 'facility.products.updateDialog.title' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>{{ 'facility.products.updateDialog.name' | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>{{ 'facility.products.updateDialog.price' | translate }}</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'common.cancel' | translate }}</button>
  <button mat-flat-button color="primary" (click)="confirm()" [disabled]="form.invalid">
    {{ 'facility.products.updateDialog.submit' | translate }}
  </button>
</mat-dialog-actions>
