@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto, sans-serif',
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto, sans-serif',
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
}

html.dark-mode {
  @include mat.all-component-colors($dark-theme);
  background-color: #121212;
  color: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
